[submodule "Etaler/3rdparty/pcg-cpp"]
	path = Etaler/3rdparty/pcg-cpp
	url = https://github.com/imneme/pcg-cpp
[submodule "Etaler/3rdparty/LayersVisualizer/Easy3D"]
	path = Etaler/3rdparty/LayersVisualizer/Easy3D
	url = https://github.com/LiangliangNan/Easy3D.git
[submodule "examples/visualize/LayersVisualizer"]
	path = examples/visualize/LayersVisualizer
	url = https://github.com/alior101/LayersVisualizer.git
[submodule "examples/visualize/resource"]
	path = examples/visualize/resource
	url = git@github.com:alior101/resource.git
