[submodule "Etaler/3rdparty/pcg-cpp"]
	ignore = all
	path = Etaler/3rdparty/pcg-cpp
	url = https://github.com/imneme/pcg-cpp

[submodule "Etaler/3rdparty/LayersVisualizer/Easy3D"]
	ignore = all
	path = Etaler/3rdparty/LayersVisualizer/Easy3D
	url = https://github.com/LiangliangNan/Easy3D.git
[submodule "examples/visualize/LayersVisualizer"]
	ignore = all
	path = examples/visualize/LayersVisualizer
	url = https://github.com/marty1885/LayersVisualizer.git
[submodule "examples/visualize/resource"]
	ignore = all
	path = examples/visualize/resource
	url = https://github.com/alior101/resource.git
[submodule "Etaler/3rdparty/half_precision"]
	path = Etaler/3rdparty/half_precision
	url = https://github.com/marty1885/half_precision
[submodule "Etaler/3rdparty/backward-cpp"]
	path = Etaler/3rdparty/backward-cpp
	url = https://github.com/bombela/backward-cpp
